*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container1{
    text-align: center;
    font-size: xx-large;
    background: rgba(60, 7, 138, 0.703);
    position: -webkit-sticky;

}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(135, 113, 144);   
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgba(65, 57, 178, 0.625);
    padding: 20px;
    width: 25%;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 15px rgba(143, 101, 101, 0.233), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    color: #fbfdfb;
}
form input.btnclr{
    color:rgb(255, 255, 255);
    
}
footer{
    background: rgb(102, 96, 96);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}